@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    box-sizing: border-box;
}

button {
    width: 100%;
}

body {
    background-color: #d0d4d9;
}

header {
    background-color: #20232a;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_title {
    color: white;
    font-size: 48px;
}

.back_form {
    padding: 20px;
    background-color: #f3f3f6;
    max-width: 800px;
    height: fit-content;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 69px -11px rgba(0,0,0,0.39);
    display: grid;
    grid-template-columns: 65% 1fr;
    gap: 20px;
}

.main {
    max-width: inherit;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section {
    max-width: inherit;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border 0.3s ease-in-out;
}

textarea::placeholder {
    color: #d0d4d9;
    font-size: 12px;
}

textarea:hover {
    border: 1px solid black;
}

input {
    margin: 0;
    width: 100%;
    height: 25px;
    padding-left: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

input::placeholder {
    color: #d0d4d9;
    font-size: 12px;
}

input:hover {
    border: 1px solid black;
}

.title_form {
    font-size: 15px;
}

.button_blue {
    background-color: #1f2837;
    color: white;
    font-size: 12px;
    min-height: 30px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.field_upload {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border: 5px dashed #1f2837;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active_animation {
    animation: shake;
    animation-duration: 0.5s;
}

.upload {
    max-width: 20%;
}

.upload_text_caption {
    text-align: center;
}

.caption {
    font-size: 12px;
}

.upload_text {
    font-size: 10px;
}

.img_content {
    max-width: 100%;
}

.add_exp {
    display: flex;
    gap: 10px;
}

.input_exp {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 60%;
    min-height: 30px;
}

.ul_exp {
    display: none;
}

ul {
    list-style-position: inside;
}

.edit {
    margin: 10px 20px;
}

.inputs .title_form {
    margin-bottom: 10px;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

input[type='checkbox'] {
    width: 16px;
    cursor: pointer;
}

.error_input::placeholder {
    color: red;
    opacity: 0.5;
}

.max_text {
    margin: 0;
    padding: 0;
    text-align: end;
    font-size: 10px;
}